@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.quote {
    padding: 1em;
    background-color: #eff2f5;

    span {
        display: block;
        text-align: right;
    }
}

.image {
    img {
        display: block;
    }

    .background {
        padding: 10px;
        display: block;
        max-width: 60%;
        margin: 0 auto;
    }

    .stretched {
        width: 80%;
        max-width: 80%;
    }

    .borderBackground {
        padding: 1px;
    }

    .borderBackground0 {
        padding: 0;
    }
}

.background {
    background-color: #eff2f5;

    p {
        margin: 0;
        padding: 1em;
        text-align: center;
    }
}

.border {
    border: 1px solid #e8e8eb;
    padding: 1px;

    p {
        margin: 1em;
    }
}
